@import url('https://fonts.cdnfonts.com/css/gotham');
*{
    font-family: 'Gotham';
}
.logo{
    width: 400px;
}
.navbar-nav li a{
    font-size: 18px;
    margin: 0 10px;
}
.navphn{
    display: none;
}
.navbig a i{
    color:#009E7F;
    margin: 0 10px;
    font-size: 18px;
}
.hero-content a{
    text-decoration: none;
    background-color: white;
    color: #009E7F;
}
.hero{
    background-image: url(images/shikder1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    position: relative;
}
.hero-2nd{
    background-image: url(images/shikder2.jpg);
    background-repeat: no-repeat;
    background-position: 30% 10%;
    background-size: cover;
    margin: 50px 0;
}
.hero::before{
    background-color: #009e7e6a;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.hero-content{
    position: relative;
    top: 30%;
    z-index: 20;
    align-items: center;
    text-align: center;
    justify-content: center; 
}
.hero-content h1{
    color: white;
    font-size: 55px;
    font-weight: 800;
    padding: 5px 0;
}
.hero-content p{
    color: white;
    font-size: 18px;
    padding: 0px 0 10 0;
}
.welcome{
    padding: 10px 20px;
    border-radius: 20px;
    cursor: cell;
}
.discover{
    padding: 15px 20px;
    border-radius: 5px;
    transition: 1s;
}
.discover:hover{
    color: white;
    background-color:#009E7F;
}
.who{
    margin: 100px 0 20px 0;
    background-color: white;
}
.who-img img{
    width: 100%;
    border-radius: 5px;
}
.who-content{
    padding: 30px 5px;
}
.who-content h6{
    color: #009E7F;
    font-weight: 500;
    letter-spacing: 1px;
}
.who-content h1{
    color: black;
    font-weight: 600;
}
.who-content p{
    color: gray;
}
.review{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.review h1{
    color: #009E7F;
    font-size: 45px;
    font-weight: 700;
}
.review p{
    color: gray;
}
.who-exp-content{
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px 0;
    position: relative;
    top: -115px;
}
.fixed-top{
    margin: 0;
    padding: 0;
}
.sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sec1{
    margin-left: 20px;
    width: 250px;
    background-color: #f8f8f8;
    border-radius: 5px;
}
.sec1-content{
    text-align: center;
    align-items: center;
}
.sec1-content i{
    font-size: 40px;
    color: #009E7F;
}
.sec1-content h5{
    font-size: 17px;
    font-weight: 600;
    color: #009E7F;
}
.sec1-content p{
    font-size: 14px;
    color: gray;
}
.customer-sec{
    background-color: #ffffff;
}
.customer-sec h1{
    font-size: 45px;
    font-weight: 700;
    color: gray;
}
.sec-product-container{
    width: 200px;
    height: 320px;
}
.sec-product-container img{
    width: 90%;
}
.sec-product-container h4{
    font-size: 16px;
    font-weight: 600;
}
.sec-product-container h6{
    font-size: 17px;
    font-weight: 600;
    color: #009E7F;
}
.sec-product-container button{
    font-size: 15px;
    color: white;
    background-color: #009E7F;
    border: none;
    border-radius: 5px;
    padding: 3px 12px;
    transition: 1s;
}
.sec-product-container button:hover{
    color: black;
    background-color: rgb(207, 207, 207);
}
.latest-product{
    margin: 90px 0 30px 0;
}
.latest-product h1{
    color: gray;
    font-size: 45px;
    font-weight: 700;
}
.latest-product-content{
    width: 220px;
}
.latest-product-content img{
    width: 100%;
}
.latest-product-content h4{
    font-size: 16px;
    font-weight: 500;
}
.latest-product-content h6{
    font-size: 20px;
    font-weight: 600;
    color: #009E7F;
}
.latest-product-content button{
    color: white;
    background-color: #009E7F;
    border: none;
    border-radius: 5px;
    padding: 4px 10px;
    transition: 1s;
}
.latest-product-content button:hover{
    color: black;
    background-color:rgb(207, 207, 207);;
}
.latest-product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


@media (max-width: 477px) {
    .navphn{
        display: block;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .navphn a i{
        margin: 0 5px;
        color: #009E7F;
    }
    .logo{
        width: 220px;
    }
    .navbig{
        display: none;
    }
    .hero-content h1 {
        font-size: 35px;
        font-weight: 800;
        padding: 5px 0;
    }
    .who-img img {
        position: relative;
        top: -30px;
    }
    .who-exp-content{
        border-radius: 5px;
        position: relative;
        top: 0;
    }
    .review1{
        width: 50%;
    }
    .review2{
        width: 50%;
    }
    .review3{
        width: 100%;
    }
    .customer-sec h1 {
        font-size: 30px;
        font-weight: 700;
        color: gray;
    }
    .sec-product-container {
        width: 150px;
        height: 320px;
    }
    .sec1 {
        margin-left: 0px;
        margin: 30px 0;
        width: 100%;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
    .sec1-content{
        display: flex;
        flex-direction: row;
        padding: 20px 0;
    }
    .sec1contentcon{
        text-align: left;
        align-items: center;
    }
    .hero-content h1 {
        font-size: 30px;
        font-weight: 800;
        padding: 5px 0;
    }
    .hero-2nd{
        margin: 30px 0;
    }
    .latest-product-content {
        width: 180px;
    }
    
}
