@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'League Spartan', sans-serif;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 46px;
}

h4 {
  font-size: 20px;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}
p {
    font-size: 16px;
}
.ipt-brk{
    display: none;
}

/*header*/
#header{
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    background-color: white;
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
}
#navbarr{
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0rem;
}
#navbarr li{
    list-style: none;
    position: relative;
}
#navbarr li a{
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    font-weight: 600;
    color: black;
    transition: 0.6s ease-in-out;
}
#navbarr li a:hover, 
#navbarr li a.active{
    color: #009E7E;
}
#navbarr li a.active::after,
#navbarr li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #009E7E;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}

/*hero*/
#hero-section{
    height: 110vh;
    max-width: 1300px;
    background-image: url(images/hero.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
}

/*2nd hero*/
#hero-section-2nd{
    background-image: url(images/service.jpg);
    height: 100vh;
    max-width: 1300px;
    background-position: center center;
    background-size: cover;
    position: relative;
    margin-top: 60px;
}
#hero-section-2nd::before{
    background-color: #009e7ea8;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/*2nd-hero end*/

#hero-section::before{
    background-image: linear-gradient(rgba(0, 158, 126, 0.774), rgba(182, 182, 182, 0.332));
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.hero-content{
    position: relative;
    z-index: 20;
}
.hero-content a{
    color:#036955;
    font-size: 22px;
    letter-spacing: 1px;
    padding: 10px 30px;
    font-weight: 600;
    text-decoration: none;
    background-color: white;
    cursor: cell;
    border-radius: 20px;
    text-transform: uppercase;
}
.hero-content h1{
    color: white;
    font-size: 55px;
    font-weight: 700;
    margin: 15px 0;
}
.hero-content p{
    color: white;
    margin-bottom: 20px;
}
.hero-content button{
    border-radius: 5px;
    border: none;
    padding: 17px 30px;
    transition: 1s;
}
.hero-content button:hover{
    color: black;
    background-color: rgb(208, 208, 208);
}
.break{
    display: block;
}

/*who*/
.who{
    margin-top: 100px;
}
.pharmacist{
    width: 100%;
    height: 100vh;
    border-radius: 5px;
    object-fit: cover;
}
.who-content{
    padding: 60px 10px;
}
.who-content h6{
    color: #009E7E;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 0;
}
.who-content h1{
    color: black;
    font-size: 45px;
    font-weight: 600;
    padding: 10px 0;
}
.who-content p{
    color: gray;
    padding: 10px 0;
}
.review-row{
    height: 20vh;
    border-radius: 5px;
    position: relative;
    top: -200px;
    margin-left: 10px;
}
.review-content{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.review-content span.number{
    color: #009E7E;
    font-size: 55px;
    font-weight: 700;
}
.review-content span.text{
    color: gray;
}
.review-col{
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
.happy{
    position: absolute;
    bottom: -730px;
    left: 0px;
}
.happy-row{
    background-color: rgba(241, 241, 241, 0.915);
    border-radius: 5px;
}
.happy-content{
    padding: 15px 5px;
}
.happy-content h1{
    color: #009E7E;
    font-weight: 700;
}
.happy-content p{
    margin-top: 0;
    margin-bottom: 0rem;
    color: gray;
}
.happy-col{
    border-left: 1px solid rgb(189, 189, 189);
}
.happy-col-none{
    border: none;
}

/* Customer Choice */
.customer{
    margin-top: 100px;
}
.customer-choice{
    border-radius: 5px;
    background-color: white;
    box-shadow: 5px 5px 10px rgb(176, 176, 176);
    height: 500px;
}
.customer-choice h1{
    color: gray;
    padding: 10px 0;
    font-size: 40px;
}
.customer-choice-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.customer-choice-pro-box{
    width: 23%;
    height: 400px;
}
.customer-choice-pro-box-content{
    padding: 10px 10px;
}
.customer-choice-pro-box-content img{
    width: 100%;
    cursor: pointer;
}
.customer-choice-pro-box-content button{
    border: none;
    border-radius: 3px;
    padding: 6px 15px;
    transition: 1s ease-in-out;
    margin: 10px 0;
}
.customer-choice-pro-box-content h5{
    font-size: 17px;
    font-weight: 600;
}
.customer-choice-pro-box-content button:hover{
    color: black;
    background-color: rgb(208, 208, 208);
}
.customer-choice-pro-box-content h4{
    color: #009E7E;
    margin: 10px 0;
}
.customer-choice-pro-box-content span{
    text-decoration: underline;
}
.shipment-col{
    width: 180px;
    height: 500px;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(176, 176, 176);
}
.shipment-content{
    padding: 5px 2px;
    align-items: center;
    text-align: center;
}
.shipment-content i{
    color: #009E7E;
    font-size: 40px;
}
.shipment-content h4{
    color: #009E7E;
    font-size: 20px;
}
.shipment-content p{
    color: gray;
}
/*latest product*/
.latest{
    margin-top: 100px;
}
.latest-product{
    border-radius: 5px;
    background-color: white;
    box-shadow: 5px 5px 10px rgb(176, 176, 176);
}
.latest-product h1{
    color: gray;
    padding: 10px 0;
    font-size: 40px;
}
.latest-product-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.latest-product-pro-box{
    width: 18%;
    height: 400px;
}
.latest-product-pro-box-content{
    padding: 10px 10px;
}
.latest-product-pro-box-content img{
    width: 100%;
    cursor: pointer;
}
.latest-product-pro-box-content button{
    border: none;
    border-radius: 3px;
    padding: 6px 15px;
    transition: 1s ease-in-out;
    margin: 10px 0;
}
.latest-product-pro-box-content h5{
    font-size: 17px;
    font-weight: 600;
}
.latest-product-pro-box-content button:hover{
    color: black;
    background-color: rgb(208, 208, 208);
}
.latest-product-pro-box-content h4{
    color: #009E7E;
    margin: 10px 0;
}
.latest-product-pro-box-content span{
    text-decoration: underline;
}
/*latest-product end*/

/*promo*/
.promo{
    margin-top: 100px;
}
.promo-col{
    background-color: #CEEFFF;
    height: 100vh;
    width: 350px;
    margin-left: 5px;
    border-radius: 10px;
}
.promo-content{
    padding: 30px 10px 0 10px;
}
.promo-content h3{
    padding: 5px 0;
}
.promo-content p{
    color: gray;
}
.promo-content button{
    border: none;
    background-color: #656DFF;
    color: white;
    padding: 5px 25px;
    border-radius: 20px;
    font-weight: 600;
}
.promo-content img{
    width: 60%;
    object-fit: cover;

}
.promotion-shop{
    width: 70%;
    margin-left: 10px;
}
.n95{
    background-image: url(images/promo/2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 437px;
    height: 284px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}
.n95-content{
    padding: 50px 30px;
}
.n95-content button{
    border-radius: 5px;
    border: none;
    padding: 7px 15px;
    transition: 1s ease-in-out;
}
.n95-content button:hover{
    color: black;
    background-color: rgb(208, 208, 208);
}
.n95-content p{
    color: gray;
}
.daily-routine{
    width: 437px;
    height: 284px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-image: url(images/promo/3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.daily-routine-content{
    padding: 40px 0 40px 160px;
}
.daily-routine-content button{
    border-radius: 5px;
    border: none;
    padding: 7px 15px;
    transition: 1s ease-in-out;
}
.daily-routine-content button:hover{
    color: black;
    background-color: rgb(208, 208, 208);
}
.daily-routine-content p{
    color: gray;
}
.natural{
    width: 100%;
    height: 284px;
    margin-top: 5px;
    border-radius: 10px;
    background-image: url(images/promo/4.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.natural-content{
    padding: 80px 100px;
}
.natural-content button{
    border-radius: 5px;
    border: none;
    padding: 7px 15px;
    transition: 1s ease-in-out;
}
.natural-content button:hover{
    color: black;
    background-color: rgb(208, 208, 208);
}
.natural-content p{
    color: gray;
}

/*why choose us*/
.why-choose-us{
    margin-top: 100px;
}
.why-choose-us-col{
    height: 100vh;
}
.why-choose-us-col img{
    width: 100%;
}
.why-choose-us-col-content{
    padding: 20px 10px;
}
.why-choose-us-col-content h5{
    color: #009E7E;
    font-size: 18px;
}

.honesty-col{
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgba(194, 194, 194, 0.787);
}
.honesty-col-content{
    padding: 25px 20px;
    display: flex;
    flex-direction: row;
}
.honesty-col-content-2nd{
    display: flex;
    flex-direction: column;
    color: gray;
}
.honesty-col-content-2nd p{
    font-size: 18px;
}
.honesty-col-content i{
    font-size: 40px;
    color: #009E7E;
    padding-right: 10px;
}
.signup{
    margin-top: 100px;
    background-color: #ECECED;
    box-shadow: 10px 10px 20px rgb(202, 202, 202);
}
.doctor-content img{
    width: 100%;
}
.signup-row-content{
    align-items: center;
}
.email-name-content button{
    width: 92%;
    padding: 8px 0;
    border: none;
    border-radius: 5px;
    transition: 1s ease-in-out;
    margin-top: 10px;
}
.email-name-content button:hover{
    background-color: rgb(208, 208, 208);
    color: black;
}
.email-name-content input{
    padding: 8px 0;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 5px;
    margin-right: 10px;
    color:#009E7E;
}

/* footer */
.shikder-logo{
    padding-bottom: 20px;
}
.payment-icon{
    width: 90%;
    padding: 20px 0;
}
footer{
    margin-top: 100px;
    background-image: linear-gradient(rgb(255, 255, 255), rgba(201, 201, 201, 0.386));
}
#footer{
    border-top: 1px solid rgb(209, 209, 209);
}
.footer-logo-content{
    padding-top: 30px;
    color: gray;
}
.company-content{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.company-content a{
    text-decoration: none;
    color: gray;
    padding: 3px 0;
    transition: 0.5s ease;
}
.company-content a:hover{
    color: #009E7E;
}
.support-content{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.support-content a{
    text-decoration: none;
    color: gray;
    padding: 3px 0;
    transition: 0.5s ease;
}
.support-content a:hover{
    color: #009E7E;
}
.get-in-touch-content{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.get-in-touch-content a{
    text-decoration: none;
    color: gray;
    padding: 3px 0;
    transition: 0.5s ease;
}
.get-in-touch-content i{
    color: #009E7E;
}
.get-in-touch-content a:hover{
    color: #009E7E;
}
#footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
}
#footer-content small{
    color: gray;
}
.footer-social-icon a{
    padding: 0 10px;
    transition: 1s ease;
}
.footer-social-icon a:hover{
    color: rgb(165, 165, 165);
}




@media (max-width: 799px) {
    .ipt-brk{
        display: block;
    }
    #header {
        padding: 20px 40px;
    }
    #navbarr {
        display: inline-block;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: white;
        padding: 60px 0 0 10px;
        transition: 1s;
    }
    #navbarr.active{
        right: 0px;
    }
    #navbarr li{
        margin-bottom: 20px;
    }
    #mobile{
        display: block;
        align-items: center;
    }
    #mobile i{
        color: #009E7E;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        position: absolute;
        bottom: 290px;
        display: block;
    }
    .fa-sharp{
        font-size: 28px;
    }
    #lg-shop-bag{
        display: none;
    }
    #navbarr li a:hover, 
    #navbarr li a.active{
        color: #009E7E;
    }
    #navbarr li a.active::after,
    #navbarr li a:hover::after{
        content: "";
        width: 10%;
        height: 2px;
        background-color: #009E7E;
        position: absolute;
        bottom: -4px;
        left: 20px;
}
#hero-section {
    height: 100vh;
    background-position: center center;
    background-size: cover;
}
.pharmacist {
    width: 100%;
    height: 100%;
}
.who-content {
    padding: 40px 10px;
}
.break{
    display: none;
}
.happy{
    position:relative;
    bottom: 0;
    left: 0;
    margin-top: 10px;
}
.happy-col{
    border: none;
}
.happy .row{
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.0 * var(--bs-gutter-x));
    margin-left: calc(-0.0 * var(--bs-gutter-x));
}
.customer-choice {
    height: 900px;
}
.customer-choice h1,
.latest-product h1 {
    padding: 10px 20px;
}
.customer-choice-pro-box {
    width: 42%;
}
.customer-choice-pro-box-content img{
    width: 70%;
}
.customer-choice-content {
    justify-content: space-evenly;
}
.shipment-col {
    width: 100%;
    height: 100%;
    margin-top: 050px;
    margin-left: 0;
    text-align: start;
    align-items: flex-start;
}
.shipment{
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: flex-start;
    padding: 5px 20px;
}
.shipment-content{
    display: flex;
    flex-direction: row;
}
.shipment-content-in{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.shipment-content i {
    font-size: 50px;
}
.shipment-content p{
    margin-top: 0;
    margin-bottom: 0rem;
}
.shipment-content {
    padding: 20px 2px;
    align-items: start;
    text-align: start;
}
.latest-product-pro-box {
    width: 40%;
    height: 100%;
}
.latest-product-content {
    justify-content: space-evenly;
}
.promo-content img{
    object-fit: cover;
    width: 65%;
}
.promo-col {
    background-color: #CEEFFF;
    height: 90vh;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 5px;
    border-radius: 10px;
}
.n95 {
    width: 100%;
    height: 45vh;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 10px;
}
.n95-content {
    padding: 150px 30px;
}
.promotion-shop {
    width: 100%;
    margin-left: 0px;
}
.daily-routine {
    width: 100%;
    height: 45vh;
    margin-left: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 10px;
}
.daily-routine-content {
    padding: 150px 0 100px 260px;
}
.natural {
    width: 100%;
    height: 45vh;
}
.natural-content {
    padding: 150px 30px;
}
.why-choose-us-col {
    height: 60vh;
}
.honesty {
    margin-top: 10%;
}
.signup-text-content{
    padding: 30px 10px;
}
.signup-text-content h3{
    font-size: 30px;
    text-align: center;
}
.email-name-content input {
    padding: 12px 0;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
}
.email-name-content button {
    width: 100%;
    padding: 12px 0;
}
#footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
}
@media screen and (max-width: 488px) {
    .ipt-brk{
        display: block;
    }
    #hero-section {
        height: 100vh;
        max-width: 1300px;
        background-image: url(images/hero.jpg);
        background-position: center center;
        background-size: cover;
        position: relative;
    }
    #hero-section-2nd {
        background-position: top;
    }
    .hero-content a {
        font-size: 15px;
        letter-spacing: 1px;
        padding: 10px 10px;
        font-weight: 500;
    }
    .hero-content h1 {
        font-size: 42px;
        font-weight: 800;
        margin: 10px 0;
    }
    .who-content {
        padding: 10px 10px;
    }
    .who-content h1 {
        font-weight: 700;
        padding: 0;
    }
    .who-content h6 {
        font-size: 25px;
        font-weight: 500;
        padding: 5px 0;
    }
    .pharmacist {
        width: 100%;
        height: 100vh;
        border-radius: 5px;
    }
    .pharmacist {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    #header img{
        width: 200px;
    }
    .break{
        display: none;
    }
    .happy{
        position:relative;
        bottom: 0;
        left: 0;
        margin-top: 10px;
    }
    .happy-col{
        border: none;
    }
    .customer-choice h1,
    .latest-product h1 {
        padding: 10px 20px;
        font-size: 28px;
    }
    .happy .row{
        --bs-gutter-x: 0rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-0.0 * var(--bs-gutter-x));
        margin-left: calc(-0.0 * var(--bs-gutter-x));
    }
    .shipment-col {
        height: 100%;
        margin-top: 50px;
        margin-left: 0;
    }
    .latest-product-pro-box-content h5 {
        font-size: 13px;
        font-weight: 600;
    }
    .promo-col {
        background-color: #CEEFFF;
        height: 60vh;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 5px;
        border-radius: 10px;
    }
    .promo-content img {
        width: 40%;
    }
    .n95 {
        width: 100%;
        height: 30vh;
        margin-right: 0px;
        margin-bottom: 5px;
        margin-top: 5px;
        border-radius: 10px;
    }
    .n95-content {
        padding: 50px 30px;
    }
    .daily-routine {
        height: 30vh;
        margin-left: 0px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .daily-routine-content {
        padding: 50px 0 0px 90px;
    }
    .natural {
        width: 100%;
        height: 30vh;
    }
    .natural-content {
        padding: 30px 30px;
    }
    .why-choose-us-col-content h1{
        font-size: 2.188rem;
    }
    .why-choose-us-col {
        height: 50vh;
    }
    .honesty-col-content {
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .honesty-col-content-2nd p {
        font-size: 14px;
    }
    .honesty-col {
        margin-bottom: 10px;
    }
    .signup-text-content h3 {
        font-size: 20px;
    }
    #footer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
    }
    #footer-content small {
        text-align: center;
    }

    
}
